body
{
    font-family: "Times New Roman";
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("images/pngte.png") center center/cover;
    background-position: 0% 0%;
    font-weight: bolder;
    /*center center/cover;*/
}
.formdiv
{
    padding-top: 50px;
    padding-left: 50px;
    color: white;
}

h1
{
    margin-right: 50px;
    text-align: center;
    color: white;
    font-size: 50px;

}
a
{
    padding-right: 5px;
}
.header
{
    text-align: right;

}
input[type="submit"]
{
    width: 100%;
    padding: 10px;
    margin: 10px 42px;
    background-color: #3b86bf;
    box-sizing: border-box;
    color: white;
    opacity: 80%;
}
/*#007bff*/
input[type="text"]
{
    width: 100%;
    padding: 10px;
    margin: 10px 42px;
    border: 1.5px solid black;
    box-sizing: border-box;
    opacity: 80%;

}
input[type="time"]
{
    width: 100%;
    padding: 10px;
    margin: 10px 42px;
    border: 1.5px solid black;
    box-sizing: border-box;
    opacity: 80%;

}
input[type="date"]
{
    width: 100%;
    padding: 10px;
    margin: 10px 42px;
    border: 1.5px solid black;
    box-sizing: border-box;
    opacity: 80%;
}
select
{
    width: 100%;
    padding: 10px;
    margin: 10px 42px;
    border: 1.5px solid black;
    box-sizing: border-box;
    opacity: 80%;
}
::placeholder
{
    font-size: 15px;
    font-family: Cambria, serif;
    color: black;
}

